@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    background-color: #737373;
    font-family: 'Lato', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    color: white;
}

nav {
    background-color: #333;
    height: 50px;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 10;
}

body {
    color: white;
}

.navlinks {
    float: right;
    vertical-align: middle;
    overflow: auto;
    position: relative;
    color: white;
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    transition: all 0.6s ease-in-out;
}

.navlinks a:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.676);
    transition: all 0.4s ease-in-out;
}

.navlinks a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

section {
    margin-top: 50px;
    color: rgb(74, 74, 74);
    font-family: 'Lato', sans-serif;
}

button {
    padding: 9px;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    color: white;
    background-color: #333;
    font-size: 20px;
    cursor: pointer;
    overflow: auto;
    transition: all 0.4s ease-in-out;
    margin-bottom: 12px;
}

button:hover {
    background-color: #333;
    color: white;
    box-shadow: 0 0 15px white;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
}

#icons {
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
    vertical-align: middle;
    position: absolute;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 27px;
}

p {
    font-size: 20px;
}

.cards {
    margin-right: 20px;
    border-radius: 5px;
    border: none;
    width: 18%;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.cards:hover {
    box-shadow: 0 0 15px black;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
}

.old_versions_selector {
    margin-right: 20px;
    border-radius: 5px;
    border: none;
    width: 17%;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.old_versions_selector:hover {
    box-shadow: 0 0 15px black;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
}

#navlogo {
    margin-left: 30px;
    width: 3%;
    transition: all 0.4s ease-in-out;
}

#navlogo:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: all 0.4s ease-in-out;
}

.plugin_card {
    background-color: #545454;
    color: white;
    border-radius: 5px;
    width: 20%;
    height: 350px;
    cursor: pointer;
    margin-right: 20px;
    box-shadow: 0 0 10px black;
    transition: all 0.4s ease-in-out;
}

.plugin_card:hover {
    box-shadow: 0 0 20px black;
    transform: translateY(-7px);
    transition: all 0.4s ease-in-out;
}

code {
    font-size: 15px;
    background-color: #2F3136;
    border-radius: 5px;
    border: 1px solid #2F3136;
}

.cards_container {
    display: flex;
    justify-content: center;
}

span {
    font-size: 20px;
    display: inline;
    vertical-align: middle;
    color: white;
}

a {
    text-decoration: none;
}

.captures {
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    margin-right: 15px;
    display: inline;
    vertical-align: middle;
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}